.footer
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: #0000FF;
    background-color: #C0C0C0;
    border: 2px solid #99FF66;
}

.footer.border
{
    height: 100%;
    width: 100%;
}
